[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scipy = "*"
sympy = "*"
altair = "*"
plotly = "*"
openpyxl = "*"
scikit-learn = "*"
seaborn = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.12"
